{% extends 'base.html' %}
{% load comments staticfiles %}
{% block content %}

        <h2>{{ article }}</h2>
        <p>{{ article.time }}</p>
        {{ article.content|safe }}

<ul>
    {% get_comment_list for article as comment_list %}
    {% for comment in comment_list %}
        <li>
            <div class="frame">
                <a href="{{ child.get_absolute_url }}">
                    {#						<div class="pict"><img src="{% thumbnail child.get_image 235x160 crop='smart' %}" alt=""/></div>#}
                    <div class="text">
                        <strong>{{ comment.name }}</strong>

                        <p>{{ comment.comment }}</p>
                    </div>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>


{% render_comment_form for article %}

<script src="{% static "base/js/site.js" %}"></script>
<script src="{% static "base/js/comment.js" %}"></script>
<script src="{% static "base/js/jquery.validationEngine-ru.js" %}" type="text/javascript" charset="utf-8">
</script>
<script src="{% static "base/js/jquery.validationEngine.js" %}" type="text/javascript" charset="utf-8">
</script>

<link rel="stylesheet" href="{% static "base/css/validationEngine.jquery.css" %}" type="text/css"/>

{% endblock %}